@import "reset";
@import "header";
@import "registration";
@import "footer";
@import "profile";



@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("/static/fonts/Podkova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    .sign-up {
        display: none; 
    }
}